<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" style="cursor: pointer">Brand</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 me-auto">
        <li
          class="nav-item"
          *ngIf="isUserAuthenticated"
          style="cursor: pointer"
        >
          <a class="nav-link" routerLinkActive="active" routerLink="/users"
            >Users</a
          >
        </li>
        <li class="nav-item" *ngIf="!isUserAuthenticated">
          <a class="nav-link" routerLinkActive="active" routerLink="/auth"
            >Auth</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            routerLink="/selectedUsersPool"
            >Selected User Pool</a
          >
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
        <!-- <li class="nav-item dropdown">
          <button type="button" class="btn btn-primary">
            Log In / Sign Up
          </button>
        </li> -->
        <li class="nav-item" *ngIf="isUserAuthenticated">
          <a class="nav-link" style="cursor: pointer" (click)="onSignOut()"
            >Sign Out</a
          >
        </li>
        <li
          class="nav-item dropdown customJustifyEnd"
          *ngIf="isUserAuthenticated"
        >
          <a
            class="nav-link dropdown-toggle"
            style="cursor: pointer"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Manage Data
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a
                class="dropdown-item"
                style="cursor: pointer"
                (click)="onFetchData()"
                >Fetch Data</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                style="cursor: pointer"
                (click)="onSaveData()"
                >Save Data</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
