<div class="col d-flex justify-content-center flex-column">
  <div class="d-flex justify-content-center">
    <div class="me-2">Please Wait</div>
    <div class="spinner-border spinner-border-sm" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow spinner-grow-sm" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <br />
  <div class="ms-2 text-center">
    Refresh The Page If The Data Is Not Displayed
  </div>
</div>
