<div class="col-12 py-3 mb-5 bg-dark">
  <!-- ButtonGroup -->
  <div
    class="btn-toolbar justify-content-center"
    role="toolbar"
    aria-label="Toolbar with button groups"
  >
    <div class="btn-group me-2" role="group" aria-label="First group">
      <app-add-new-course-modal></app-add-new-course-modal>
      <app-edit-user-info-modal class="ms-2"></app-edit-user-info-modal>
      <!-- Practices -->
      <!-- <app-form-status-button class="ms-2"></app-form-status-button>
      <app-form-test-button2 class="ms-2"></app-form-test-button2> -->
    </div>
  </div>

  <!-- // Practices -->
  <!-- <p
    class="text-white text-center mt-3 w-25 mx-auto"
    appBasicHighlightAttDirective
  >
    test text1
  </p>
  <p
    class="text-white text-center mt-3 w-25 mx-auto"
    appBetterHighlightAttDirective
  >
    test text2
  </p>
  <p
    class="text-white text-center mt-3 w-25 mx-auto"
    [appDynamicallySettingFromOutsideHighlightAttDirective]="'#00ff00'"
    [defaultColor]="'#ff0000'"
  >
    test text3
  </p>
  <p
    *appUnlessStructural="false"
    class="text-white text-center mt-3 w-25 mx-auto"
  >
    test text4
  </p>
  <div [ngSwitch]="value" class="d-flex text-white justify-content-center">
    <div *ngSwitchCase="5">output1</div>
    <div *ngSwitchCase="10">output2</div>
    <div *ngSwitchDefault>output3</div>
  </div> -->
</div>
